<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>YouTube</title>
<link rel="stylesheet" type="text/css" href="/css/Style.css">
</head>
<body>
<center><div class="divtop">
        <h1>Cruise and Park</h1>
        <ul class="ulnav">
            <li class="linav"><a class="active" href="youtube.html">YouTube Video</a></li>
            <li class="linav"><a href="https://github.com/malynch7/Web-Programming-Final-Project">See Project on GitHub</a></li>
            <li class="linav"><a href="#news">Logout</a></li>
        </ul>
    </div></center>
<iframe class="video"
        src="https://youtube.com/embed/2H-DO5-uhO4">
</iframe>
<br>
<form action="index.php">
    <input type="submit" value="Book Now"/>
</form>

<br>
<br>
<br>
<br>
<br>
<hr>
<center><p>© Copyright 2018 Cruise and Park</p></center>
</body>
</html>