body{
    margin: 0;
    padding: 0;
    background-size:cover;
    background-size: 100%;
    background-image: url('../images/canberra.jpg');
}
#mainframe{
    border: 0;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.CorrectLogin{
    font-family:  "Courier New";
    padding: 5px;
    width: 380px;
    height: 570px;
    background: #333;
    color:#fff;
    top:50%;
    left: 50%;
    margin-top: 5%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
.IconMain{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%,-50px);
}
.CorrectLogin h1{
    color:white;
    margin-top: 0;
    padding: 0 0 20px;
    text-align: right;
    font-size: 18px;
}
.CorrectLogin p, a{
    color:white;
    margin:0;
    padding:0;
    font-weight: bold;
}
.CorrectLogin input{
    width:100%;
    margin-bottom: 20px;
}
.CorrectLogin input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.CorrectLogin input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    background: #007bff;
    color:#fff;
    font-size:18px;
}
.CorrectLogin input[type="submitTwo"]
{
    border:none;
    outline:none;
    height:40px;
    background: #007bff;
    color:#fff;
    font-size:18px;
}
p.Usererror{
    color:red;
}
a.Forgot{
    color:grey;
}
a.color {
    color: white;
}
a.register{
    color: #007bff;
}
.ViewLogo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: calc(50%,-50px);
}
.BookLogo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: calc(50px,-50px);
}


