body .terminal {
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/canberra.jpg');
}

.divtop {
    background-color: #007bff;
    color: white;
}

.divbg {
    background-color: white;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.linav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body {
    margin: 0;
    padding: 0;


    background-repeat: no-repeat;
    height: 100%;
    background-image: url('../images/canberra.jpg');
}

.card {
    margin: auto;
}

.card .btn-primary {
    width: 80%;
}

.card form{
    margin: auto;
    text-align: center;
}

.card table{

}

.card td{
    padding: 5px;
}

.jumbotron {
    width: 80%;
    margin: auto;
    padding: 3%;
}

.jumbotron td{
    width: 33%;
    text-align: center;
}

.jumbotron ul{
    text-align: left;
}

.historyTable{
    margin: auto;
    width: 80%;
    border: solid 2px black;
}

.historyTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.historyTable td{
    width: auto;
}

.video{
    margin: auto;
    align-self: center;
    width: 800px;
    height: 450px;
}

.clrbtn{
    color: white;
    background-color: #333333;
    width: 25%;
    border-color: #333333;
}

.clrbtn:hover{
    background-color: #111111;
    color: #007bff;
}
